
:root {
  /* Core Theme Colors */
  --bs-primary: #343341;       /* Deep Indigo */
  --bs-danger: #FFCC00;        /* Rose Alert */
}

/* Primary Button Customization */
.btn-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
  color: #ffffff !important;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #202027 !important; 
  border-color: #202027 !important;
}

/* Danger Button Customization */
.btn-danger {
  background-color: var(--bs-danger) !important;
  border-color: var(--bs-danger) !important;
  color: #ffffff !important;
}
.btn-danger:hover, .btn-danger:focus {
  background-color: #957805a1 !important; 
  border-color: #957805a1 !important;
}
